.change-location-window {
  height: 100vh;
  width: 100vw;
  background-color: var(--second-color);
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100vw);
  transition: all 300ms cubic-bezier(0,0,0,1);
  padding: 1rem;
  text-align: right;
}

.change-location-window.is-active {
  transform: translateX(0);
}

.close-clw {
  color: #ffffff;
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.close-clw:hover {
  opacity: .75;
}