:root {
  --first-color: #1d1a53;
  --second-color: #0b0a1d;
  --font: 'Ubuntu', sans-serif;
  --text-color: #ffffff;
  --second-text-color: #d4d4d4d7;

}

html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
  color: var(--text-color);
}

a {
  transition: all 0.3s ease-in-out;
}

a:hover {
  opacity: 0.75;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.6;
  color: var(--text-color);
  margin: 0;
}
